:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --link-text-color: #2196F3;
    --logo-text-studio-color: #000000;
    --accent-text-color: #FFFFFF;
    --primary-background-color: #FFFFFF;
    --background-footer: #2F303A;
    --button-color: #2196F3;
    --secondary-background-color: #F5F4FA;
    --list-background-color: #EEEEEE;
}

.body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

/*Header*/
.logo {
    color: var(--link-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.studio {
    color: var(--logo-text-studio-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.title {
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.title:hover,
.title:focus {
    color: var(--link-text-color);
}

/*Contact links*/

.link {
    color: var(--primary-text-color);
    font-family: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.contact:hover,
.contact:focus {
    color: var(--link-text-color);
}

.active-title {
    color: var(--link-text-color);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/*Hero*/
.hero {
    background-color: var(--background-footer);
}

.hero-title {
    color: var(--accent-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    color: var(--accent-text-color);
    background-color: var(--link-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/*Advantages*/
.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*Activity*/
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Team*/
.team {
    background-color: var(--secondary-background-color);
}

.team-list {
    background-color: var(--primary-background-color);
}

.team-name {
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Footer*/
.footer {
    background-color: var(--background-footer);
}

.footer-studio {
    color: var(--primary-background-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em
}

.adress {
    color: var(--accent-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contact {
    color: var(--accent-text-color);
    opacity: 0.6;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/*Portfolio*/
.profile-btn {
    background-color: var(--secondary-background-color);
    color: var(--title-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.profile-btn:hover,
.profile-btn:focus {
    color: var(--accent-text-color);
    background-color: var(--link-text-color);
}

.current-button {
    color: var(--accent-text-color);
    background-color: var(--link-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-ancor {
    text-decoration: none;
}

.portfolio-title {
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.portfolio-text {
    color: var(--primary-text-color);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-decoration: none;
}